body {
/*	background-image: url(bg.png); */
	background: #341455;
}

h1 {
	font-family: 'Alfa Slab One', cursive;
	color: rgb(52, 20, 85);
}

h3 {
	margin: 5px 0;
}

.navbar-default {
	background-color: #FFC974;
    border-color: #DF9E37;
    font-family: 'Alfa Slab One', cursive;
}

.navbar-default .navbar-brand {
	font-size: 1.75em;
	color: #fff;
	text-shadow: -1px 1px 2px rgba(0,0,0,.2);
}

.navbar-default .navbar-brand:hover {
	color: rgba(255,255,255,.85);
}

#main {
	background: #FEE4BC;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 2px rgba(0,0,0,.05);
	padding-bottom: 15px;
}

.ticket {
	margin-top: 30px;
}

.description {
	padding: 10px 0;
}

.row {
	margin-bottom: 1em;
}

.seat {
	padding: 5% 12%;
	background-color: #FFF2DE;
	border-color: #DDD8CF;
}

hr {
	border-top-color: #E9D1AC;
}

#reservationForm {
	display: none;
	margin-bottom: 0px;
	padding: 20px;
	background-color: rgba(255,255,255,.6);
	box-shadow: 0 0 2px rgba(0,0,0,.1);
	border-radius: 5px;
}

.btn-inactive {
  pointer-events: none;
  opacity: .25;
}

.reserved {
  pointer-events: none;
  opacity: .65;
}

.copyright {
	margin-top: 20px;
	font-size: .85em;
	color: #FEE4BC;
	text-shadow: 0 0 1px rgba(0,0,0,.4);
}